.md-bt{
    border:none;
    cursor: pointer;
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
}

.md-bt.md-bt-dark{
     color: #fafafa;
     background-color: #212121;
}

.md-bt.md-bt-light{
    color: #212121;
    background-color: #fafafa;

}

.md-bt-light:hover{
    background-color: #eeeeee;
}

.md-bt-dark:hover{
    background-color: #424242;
}

.md-bt-expandable{
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: start;
    font-size: 1.1em;
    color: rgba(249,249,249, 0.80);
    padding: 8px;
    margin: 0;
    border-radius: 4px;

}

.md-bt-expandable:focus{
     background-color: #004c8c;
     color: rgba(249,249,249, 1);
}

.md-bt.md-bt-navbar-toggle{
    background-color: transparent;
    color: #eeeeee;
}

.md-bt.md-bt-navbar-toggle:hover{
    background-color: #424242;
    color: #eeeeee;
}
